APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=

DATABASE_URL=
DATABASE_URL_TEST=

# Set to "test" to point the entire app at the test database, "prod" for production
DB_ENV=prod

RESEND_API_KEY=
