.logoContainer {
	width: 255px;
}

.logoContainer img {
	width: 100%;
	height: auto;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

/* @media (prefers-color-scheme: dark) {
	.logo {
		filter: invert();
	}
} */
